.book {
    transition: transform 0.2s;
    max-width: 80%;
    margin: auto;
  }
  
  .book:hover {
    transform: scale(1.02);
  }
  
  .card-title {
    font-size: 1.25rem;
  }
  
  .btn-link {
    font-size: 0.9rem;
  }
  
  .text-primary:hover {
    text-decoration: underline;
  }
  
  .text-danger:hover {
    text-decoration: underline;
  }
  img{
    width: 30%;
  }
  
  .page-title {
    max-width: 80%;
    margin: auto;
    margin-bottom: 19px;
  }